<section>

  <img src="<%= book.cover %>" alt="">
  <h2><%= book.title %></h2>
  <h3><%= book.author %></h3>
  <p><%= book.description %></p>
  <h4>ISBN: <%= book.isbn %></h4>
  <h4>Bookshelf: <%= book.category %></h4>
  <a href="/books/<%= book.id %>">View Details</a>

</section>