
<%- include('../../layout/head', {title: 'Book Details'}) %>

<body>
  <%- include('../../layout/header') %>
  
  <main>
  
    <%- include('detail', {book, display: {min: false, det: false, desc: true, sel: false}}) %> 
    <%- include('edit') %> 

  </main>
  
  <%- include('../../layout/footer') %>

  <%- include('../../layout/script') %>

</body>
</html>