<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Results</title>
  <link rel="stylesheet" href="/styles/reset.css" type="text/css">
  <link rel="stylesheet" href="/styles/base.css" type="text/css">
  <link rel="stylesheet" href="/styles/layout.css" type="text/css">
  <link rel="stylesheet" href="/styles/modules.css" type="text/css">
</head>
<body>
  
  <header>
    <a href="/">Home</a>
    <a href="/searches/new">New Search</a>
  </header>

  <% for (let book of books) { %>
    <section>
      <img src="<%= book.cover %>" alt="">
      <h2><%= book.title %></h2>
      <h3><%= book.author %></h3>
      <p><%= book.description %></p>
      <form action="/books" method="POST">
        <input style="display: none;" type="text" name="book" value="<%= JSON.stringify(book) %>">
        <input type="submit" value="Select this Book">
      </form>
    </section>
  <% } %>

</body>
</html>
