
<%- include('../layout/head', {title: 'Error'}) %> 

<body>

  <%- include('../layout/header') %> 
  
  <h1>Oh no! Something went wrong!</h1>
  <h3><%= status %></h3>
  <p><%= message %></p>
  
  <%- include('../layout/footer') %> 

</body>
</html>