
<%- include('../layout/head', {title: 'Home Page'}) %> 

<body>
  
  <%- include('../layout/header') %> 

  <h1>Success in the EJS!</h1>

  <h3>Total books: <%= books.length %></h3>

  <% for (let book of books) { %>
    <!-- reference for passing objects into include -->
    <!-- https://stackoverflow.com/questions/23788810/ejs-pass-variable-when-include/39487333 -->
    <%- include('books/detail', {book}) %> 
  <% } %>

  <%- include('../layout/footer') %>

</body>
</html>