
<%- include('../layout/head', {title: 'Home Page'}) %> 

<body>
  
  <%- include('../layout/header') %> 

  <main>
  
    <h3><%= books.length %> Saved Books</h3>
  
    <% for (let book of books) { %>
      <!-- reference for passing objects into include -->
      <!-- https://stackoverflow.com/questions/23788810/ejs-pass-variable-when-include/39487333 -->
      <%- include('books/detail', {book, display: {min: true, det: true, desc: false, sel: false}}) %> 
    <% } %>

  </main>

  <%- include('../layout/footer') %>

</body>
</html>